@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900');
@font-face {
  font-family: 'calendas';
  src: local('calendas'),
    url('../fonts/calendas/calendas.woff2') format('woff2'),
    url('fonts/calendas/calendas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}
