// LAYOUT
body {
  background-color: #111;
}
* { box-sizing: border-box; }

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: flex-start;
  align-content: space-between;
  height: 100vh;
}


.gallery {
  > a {
    width: 50%;
    height: auto;

    @media screen
    and (min-width : 100px)
    and (max-width : 700px) {
      width: 100%;
    }
    @media screen
    and (min-width : 950px)
    and (max-width : 1280px) {
      width: 33.333333%;
    }

    > img {
      display: block;
      width: 100%;
      height: auto;
      padding: 3px;
    }
  }

}

.to-top { object-position: top; }
.to-bottom { object-position: bottom; }
.to-left { object-position: left; }
.to-right { object-position: right; }
