@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("ttf"); }

@font-face {
  font-family: 'Roboto-bold';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("ttf"); }

@font-face {
  font-family: 'Roboto-light';
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("ttf"); }

h1 {
  font-family: 'Roboto-Thin';
  font-weight: 100;
  color: #6e6e6e; }
  h1 b {
    font-size: 3rem;
    font-weight: bold;
    color: #a2a2a2; }
  h1 span {
    font-size: 2rem; }
